<header>
    <nav class="nav-container">
			<a class="nav-item" href="/">Home</a>
			<a class="nav-item" href="/projects/">Projects</a>
			<a class="nav-item" href="../../Pasimio-Michael-Resume.pdf" target ="_blank">Resume</a>
		</nav>
</header>